*
{
    box-sizing: border-box;
}
body{
    background-color: rgba(245, 234, 236, 0.995);
}
.main_con{
    max-width:700px;
    margin:auto;
    text-align: center;
    margin-top: 100px;
}
h1{
    color:midnightblue;
    font-family : fantasy;
    font-size: 50px;
}
table{
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid  rgb(196,196,196) ;
    background-color: white;
}
td{
    text-align: center;
    font-size: x-large;
    width:60px;
    border-radius: 5px;
    background-color: rgba(249, 245, 245, 0.406);
    border : 1px solid rgb(196,196,196);
}
.display{
    height: 50px;
    text-align: right;
   padding-right: 10px;
   background-color:rgb(37,37,37) ;
   color: white;
   border-radius: 0px;
}
.operators{
    color: rgb(51,124,175);
}
.clear{
    background-color:rgb(240,89,95);
    color: white;
}
.equalTo{
    background-color:rgb(46,134,192);
    color: white;
}


